---
import Layout from '~src/layouts/DefaultLayout.astro';
import PostTags from '~src/components/Post/Tags.astro';
import PostMeta from '~src/components/Post/Meta.astro';
import PostShare from '~src/components/Post/Share.astro';
import PostNavigationArrows from '~src/components/Post/NavigationArrows.astro';
import AuthorSmall from '~src/components/Author/Small.astro';
import BackToTop from '~src/components/Ui/BackToTop.vue';
import Giscus from '~src/components/Giscus.vue';

import { getEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

export async function getStaticPaths() {
  const posts = await getCollection('posts');

  return posts.map((post) => ({ params: { slug: post.slug } }));
}

const { slug } = Astro.params;

const post = await getEntry('posts', slug);

const { Content } = await post.render();
---

<Layout
  title={post.data.title}
  description={post.data.description}
>
  <div class="post-wrapper text-true-gray-900 dark:text-true-gray-100">
    <div class="post-title">
      <PostTags
        tags={post.data.tags}
        variant="post"
      />

      <h1
        class="text-true-gray-800 dark:text-true-gray-200 post-title__text mb-4 mt-2 text-3xl font-bold md:text-5xl"
      >
        {post.data.title}
      </h1>

      <PostMeta {post} />
    </div>

    <div class="post__header post-object-wide">
      {
        post.data.cover_image && (
          <figure
            v-if="$page.post.cover_image"
            class="mx-auto w-fit max-w-[860px]"
          >
            <Image
              alt="Cover image"
              class="shadow-opacity-10 rounded-lg shadow-lg shadow-black"
              src={post.data.cover_image}
              width="860"
              densities={[1, 1.5, 2]}
            />
            {post.data.cover_image_caption && (
              <figcaption
                class="prose text-trueGray-600 dark:text-trueGray-400 mt-2 text-sm"
                set:html={post.data.cover_image_caption}
              />
            )}
          </figure>
        )
      }
    </div>

    <!-- Content -->
    <div class="post">
      <!-- Share Menu -->
      <PostShare title={post.data.title} />
      <div
        class="post__content prose dark:prose-invert w-prose text-true-gray-900 dark:text-true-gray-100 max-w-full text-lg md:text-xl"
      >
        <Content />
      </div>
    </div>

    <PostNavigationArrows postId={post.id} />

    <AuthorSmall />

    <Giscus client:only />
  </div>

  <BackToTop client:only />
</Layout>

<style is:global lang="scss">
  .post-wrapper {
    display: grid;
    grid-template-columns:
      [full-start] minmax(4vmin, auto) [wide-start] minmax(auto, 240px)
      [main-start] min(720px, calc(100% - 8vw)) [main-end] minmax(auto, 240px) [wide-end] minmax(
        4vmin,
        auto
      )
      [full-end];
    row-gap: 2rem;
  }

  .post__content :first-child {
    margin-top: 0;
  }

  .post__content {
    h1 {
      margin-top: 2.5rem;
      margin-bottom: 0;
      font-size: 2rem;
    }

    h2 {
      margin-top: 2rem;
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }

    figure {
      p {
        margin: 0;
      }

      img {
        @apply shadow-opacity-10 mb-0 rounded-lg shadow-lg shadow-black;
      }

      &.crop {
        img {
          object-fit: cover;
        }
      }

      &-16_9 img {
        aspect-ratio: 16 / 9;
      }

      &-4_3 img {
        aspect-ratio: 4 / 3;
      }

      figcaption {
        @apply text-true-gray-600 dark:text-true-gray-400 mt-2 text-sm;
      }
    }

    @screen md {
      h1 {
        margin-top: 3rem;
        margin-bottom: 0;
        font-size: 2.5rem;
      }

      h2 {
        margin-top: 3rem;
        margin-bottom: 1.5rem;
        font-size: 1.8rem;
      }
    }
  }

  .post-wrapper > *,
  #comments {
    grid-column: main-start/main-end;
  }

  .post-object-wide {
    grid-column: wide-start/wide-end;
  }
</style>
