---
import { format } from 'date-fns';
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';

import PostTags from '~src/components/Post/Tags.astro';
import type { CollectionEntry } from 'astro:content';

interface Props {
  post: CollectionEntry<'posts'>;
}

const {
  post: { data: post, slug }
} = Astro.props;

const path = `/blog/${slug}`;
---

<div class="my-8 md:flex">
  {
    post.cover_image && (
      <div class="img m-2 mx-auto max-w-lg rounded-xl shadow md:max-w-sm">
        <a href={path}>
          <Image
            src={post.cover_image}
            alt={post.cover_image_caption ?? ''}
            class="rounded-xl"
          />
        </a>
      </div>
    )
  }
  <div class="mx-auto max-w-lg flex-grow justify-between md:px-5 lg:px-0">
    <div class="meta">
      <a href={path}>
        <h2
          class="text-true-gray-800 dark:text-true-gray-100 text-xl font-semibold"
        >
          {post.title}
        </h2>
      </a>
      <p
        class="text-true-gray-600 dark:text-true-gray-400 text-md font-semibold"
      >
        {format(post.date_published, 'PPP')}
      </p>
    </div>

    <PostTags
      class="my-2"
      tags={post.tags}
    />

    <a href={path}>
      <p class="text-true-gray-600 dark:text-true-gray-400 text-base">
        {post.description}
      </p>

      <p
        class="text-primary-800 dark:text-primary-200 group my-1 block text-base font-semibold"
      >
        <span
          class="link-underline before:bg-primary-800 dark:before:bg-primary-200"
        >
          Read more
        </span>
        <Icon
          class="inline transform transition-transform group-hover:translate-x-1"
          name="ph:arrow-right"
        />
      </p>
    </a>
  </div>
</div>

<style>
  .link-underline {
    position: relative;
  }

  .link-underline::before {
    content: '';
    position: absolute;
    display: block;
    width: calc(100% - 5px);
    height: 2px;
    bottom: -2px;
    left: 0;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
  }

  .group:hover .link-underline::before {
    transform: scaleX(1);
  }
</style>
